.cocktailCard {
    list-style: none;
text-transform: uppercase;
text-align: center;

}

.cocktailImage{
    border-radius: 10px;
    background-color: azure;
    width: 230px;
    height: 345px;
}

@media(max-width:560px){
    .cocktailImage{
width: 90%;
height: auto;
    }
}